# Add extra options here
{% if extern_ip == "auto" %}
OPTIONS="-i external/{{ omni_ip_lan }}!{{ public_ip_wan }} -o 60 -a 3600 -d 30 -s 120 -n {{ rtpengine_host }}:22222 -m 20000 -M 30000 -L 7 --log-facility=local1"
{% elif extern_ip != "auto" and extern_ip != "none" %}
OPTIONS="-i external/{{ omni_ip_lan }}!{{ omni_ip_wan }} -o 60 -a 3600 -d 30 -s 120 -n {{ rtpengine_host }}:22222 -m 20000 -M 30000 -L 7 --log-facility=local1"
{% else %}
OPTIONS="-i {{ omni_ip_lan }} -o 60 -a 3600 -d 30 -s 120 -n {{ rtpengine_host }}:22222 -m 20000 -M 30000 -L 7 --log-facility=local1"
{% endif %}
